/* Delete these styles and add your own styles here! */

body {
  font-size: var(--font-3);
  text-align: center;
}

header {
  background: radial-gradient(96.07% 96.07% at 0% 0%, #8B00FE 0%, #5901C9 100%);
  color: var(--white);
  padding: var(--spacing-4);
}

header img {
  margin: var(--spacing-4);
}

.banner {
  position: absolute;
  top: -10px;
  left: var(--spacing-4);
}

.banner img {
  height: 80px;
}

.banner:hover img {
  animation: wave-flag 0.5s linear infinite alternate;
}

@media (prefers-reduced-motion: reduce) {
  .banner:hover img {
    transition: 0.1875s cubic-bezier(0.375, 0, 0.675, 1) transform;
    transform-origin: top left;
  }
}

@keyframes wave-flag {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

header>p,
header>p>a {
  color: var(--white) !important;
}

.blurb {
  border: 2px dashed var(--border);
  border-radius: var(--radii-default);
  font-size: var(--font-4);
  padding: var(--spacing-4);
}

.title {
  margin-bottom: var(--spacing-4);
}

.link-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  margin: var(--spacing-4) auto;
}

.red-gradient {
  background-image: radial-gradient(ellipse farthest-corner at top left,
      #ff8c37,
      #ec3750);
}

.blue-gradient {
  background-image: radial-gradient(ellipse farthest-corner at top left,
      #5bc0de,
      #338eda);
}

.green-gradient {
  background-image: radial-gradient(ellipse farthest-corner at top left,
      #5bc0de,
      #33d6a6);
}

.orange-gradient {
  background-image: radial-gradient(ellipse farthest-corner at top left,
      #ff8c37,
      #f1c40f);
}

.purple-gradient {
  background-image: radial-gradient(ellipse farthest-corner at top left,
      #a633d6,
      #338eda);
}

.lime-gradient {
  background-image: linear-gradient(117deg,
      rgba(123, 216, 96, 1) 39.2%,
      rgba(255, 255, 255, 1) 156.2%);
}

.skyblue-gradient {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

.logos {
  display: flex;
  justify-content: center;
  gap: var(--spacing-3);
  height: 32px;
}

.logos img {
  width: 32px;
}

footer {
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
}

footer>h4 {
  margin-top: var(--spacing-4);
}